<div class="p">
        
    <md-card class="p-v p-t">
            
        <md-input-container class="md-block no-m-b" flex-gt-xs>
            
            <label>Search by title</label>
            
            <input ng-model="announcementsCtrl.searchText" ng-model-options="{debounce: 500}" ng-change="announcementsCtrl.loadAnnouncements()">
            
        </md-input-container>
            
    </md-card>    
    
    <div>
        
        <announcement-card-component ng-repeat="announcement in announcementsCtrl.announcements" announcement="announcement">
            
        </announcement-card-component>
        
    </div>
        
</div>
